.usersBlock {
    margin: 10px 0;
    padding: 0;
    position: sticky;
    top: 80px;
    .info {
        background: #eee;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 10px 0;
        width: 100%;
    }
    .user {
        background: #eee;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 0 0 10px;
        width: 100%;
        display: inline-flex;
        .image {
            padding-top: 5px;
            padding-right: 10px;
            img {
                border-radius: 50%;
            }
        }
        .text {
            display: inline-grid;
        }
        .badge {
            right: 12px;
            position: absolute;
            display: none;
        }
        &:hover {
            cursor: pointer;
            .badge {
                display: block;
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }
        &.selected {
            background: #75C3EC;
        }
    }
}

.userDetails {
    ul {
        padding-left: 25px;
        list-style: initial;
        max-height: 120px;
        overflow-y: scroll;
    }
}