.usersBlock {
    margin: 10px 0;
    padding: 0;
    .user {
        background: #eee;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 0 0 10px;
        width: 100%;
        display: inline-flex;
        &:hover {
            cursor: pointer;
        }
        &.selected {
            background: #75C3EC;
        }
        .image {
            padding-top: 5px;
            padding-right: 10px;
            img {
                border-radius: 50%;
            }
        }
        .text {
            display: inline-grid;
        }
    }
}

.userBlock {
    position: sticky;
    top: 80px;
    .info {
        background: #eee;
        padding: 10px 15px;
        border-radius: 4px;
        margin: 10px 0;
        width: 100%;
    }
}