<div class="row">
    <div class="col-4">
        <h4>Address Book</h4>
        <div class="usersBlock">
            <div class="user" *ngFor="let user of users" (click)="onSelect(user, $event)" [class.selected]="user === selectedUser">
                <div class=" image "><img src="../assets/images/placeholder/person.png "></div>
                <div class="text ">
                    <a><strong>{{user.name}}</strong></a>
                    <small class="text-secondary ">{{user.email}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="offset-2 col-6 ">
        <app-user *ngIf="selectedUser && showPage" [user]="selectedUser"></app-user>
        <hr *ngIf="selectedUser && showPage">
        <button *ngIf="selectedUser && showPage" type="button" class="btn btn-primary" (click)="onClose()">Close</button>
        <ol>
            <li *ngFor="let msg of hookLog">String - {{msg}}</li>
        </ol>
    </div>
</div>