<div class="usersBlock">
    <h4>Users</h4>
    <div class="row">
        <div class="col-4" *ngFor="let user of users">
            <div class="user">
                <div class="image"><img src="../assets/images/placeholder/person.png"></div>
                <div class="text">
                    <a routerLink="/users/{{user.id}}"><strong>{{user.name}}</strong></a>
                    <small class="text-secondary">{{user.email}}</small>
                </div>
            </div>
        </div>
    </div>
</div>