:host {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 120px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    position: relative;
    border: 1px solid #888;
    width: 600px;
    max-width: 80%;
    border-radius: 20px;
    border-color: #888;
    border-width: 1px;
    border-style: solid;
}