<div class="userBlock">
    <h4>Contact Information</h4>
    <div class="info" *ngIf="selectedUser">
        <h5>{{selectedUser.name}} <span class="badge badge-primary">{{selectedUser.username}}</span></h5>
        <div class="dl-horizontal">
            <dt>Email</dt>
            <dd>{{selectedUser.email}}</dd>
            <dt>Phone</dt>
            <dd>{{selectedUser.phone}}</dd>
            <dt>Website</dt>
            <dd>{{selectedUser.website}}</dd>
            <dt>Address</dt>
            <dd *ngIf="selectedUser.address">
                <span>{{selectedUser.address.street}}, </span>
                <span>{{selectedUser.address.suite}}, </span>
                <span>{{selectedUser.address.city}}, </span>
                <span>{{selectedUser.address.zipcode}}</span>
            </dd>
        </div>
    </div>
</div>