<div class="userBlock">
    <h4>Contact Information</h4>
    <div class="info" *ngIf="user">
        <h5>{{user.name}} <span class="badge badge-primary">{{user.username}}</span></h5>
        <div class="dl-horizontal">
            <dt>Email</dt>
            <dd>{{user.email}}</dd>
            <dt>Phone</dt>
            <dd>{{user.phone}}</dd>
            <dt>Website</dt>
            <dd>{{user.website}}</dd>
            <dt>Address</dt>
            <dd *ngIf="user.address">
                <span>{{user.address.street}}, </span>
                <span>{{user.address.suite}}, </span>
                <span>{{user.address.city}}, </span>
                <span>{{user.address.zipcode}}</span>
            </dd>
        </div>
    </div>
    <input [(ngModel)]="user.name" (blur)="onKey($event)">
    <p>{{values}}</p>
</div>