.postsBlock {
    padding: 0;
    .post {
        background: rgb(238, 238, 238);
        padding: 10px 15px;
        border-radius: 4px;
        margin: 10px 0;
        display: grid;
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}